<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>簡易掲示板</title>
</head>
<body>
    {% for topic in topics %}
    <!-- topicsは、辞書型のリスト -->
    <div class="border">
        <div>{{ topic.id }}:{{ topic.dt|date:"Y-m-d H:i:s" }}</div>
        <div>{{ topic.name }}</div>
        <div>{{ topic.comment|linebreaksbr }}</div>
    </div>
    {% endfor %}
    
    <form method="POST">
        {% csrf_token %}
        <textarea name="comment"></textarea>
        <input type="submit" values="送信">
    </form>

</body>
</html>